<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2 class="garden-title" th:text="${title}">Features</h2>
    <table class="table" style="align:center;">
        <tr>
            <th scope="col">Feature ID</th>
            <th scope="col">Feature Name</th>
        </tr>
        <tr th:each="feature : ${features}">
            <td th:text="${feature.id}" style="vertical-align:middle;"></td>
            <td th:text="${feature.name}" style="vertical-align:middle;"></td>
            <td style="vertical-align:middle;">
                <form method="get" th:action="@{/admin/features/update/}">
                    <input type="hidden" th:name="featureId" th:value="${feature.id}">
                    <button type="submit" class="btn btn-warning">Update</button>
                </form>
            </td>
            <td style="vertical-align:middle;">
                <form method="POST" th:action="@{/admin/features/delete}">
                    <button type="submit" th:value="${feature.id}" name="featureId" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <a th:href="@{'/admin/features/add'}">Add Features</a>
</div>

<div th:replace="fragments :: footer-spacer"></div>
<footer th:replace="fragments :: footer"></footer>

</body>
</html>