<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h2 th:text="${title}">Features</h2>
    <ul>
        <li th:each="feature : ${features}">
            <a th:href="@{'/features/view/' + ${feature.id}}" th:text="${feature.name}"></a>
        </li>
    </ul>

<!--    remove link later when admin is set up-->
    <a th:href="@{'/features/add'}" sec:authorize="hasRole('ROLE_ADMIN')">Add Features</a>

</div>

<footer th:replace="fragments :: footer"></footer>

</body>
</html>