<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head" th:remove="tag">
    </div>
    <style>
        .list-link {
            display: none;
        }
    </style>
</head>
<body>
    <div th:replace="fragments :: page-header">
    </div>
    <div class="container body-content">
        <div>
            <!-- Search form -->
            <form th:action="@{/user/gardens/search}" method="GET">
                <div style="margin-top: 5px">
                    <input class="form-control mr-sm-2"
                       th:name="searchTerm"
                       type="text"
                       th:value="${searchTerm}"
                       aria-label="Search">
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label th:for="features">Features: </label>
                    <th:block th:each="feature : ${features}">
                        <input type="checkbox"
                               th:name="featureIds"
                               th:value="${feature.id}"
                               th:if="${selectedFeatures.contains(feature)}"
                               checked>
                        <input type="checkbox"
                               name="featureIds"
                               th:value="${feature.id}"
                               th:unless="${selectedFeatures.contains(feature)}">
                        <label th:text="${feature.name} + '  '"></label>
                    </th:block>
                    <p>Note: all gardens are searched if no categories are selected.</p>
                </div>
                <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
            </form>
        </div>
    <!-- hide link if on main gardens/list/ (only show when on search)-->
        <th:block th:if="${title.equals('Garden Search')}">
            <a  th:href="@{/user/gardens/list}">Show All Gardens</a>
            <th:block th:if="${!searchTerm.isEmpty()}">
                <p th:text="'Results containing term: ' + ${searchTerm}"></p>
            </th:block>
        </th:block>
        <th:block th:if="${title.equals('Garden List')}">
            <p>Displaying All Gardens</p>
        </th:block>
        <hr>
        <h2 th:text="${title}">Gardens</h2>
    <!--    Below div iterates through the collection and makes a row for every elements with an index divisible by 3 e.g. 0, 3, 6
            adding rowStatus uses a thymeleaf mechanism to create a variable with an index property that holds the current iteration index -->
        <div th:each="garden,rowStatus : ${gardens}" class="row grid-row" th:if="${rowStatus.index % 3} == 0">
    <!--    Below div iterates through the collection again with a new status variable and adds gardens to the row if this index is less than
            the row index + 3 and the index is >= -->
            <div th:each="garden,gardenStatus : ${gardens}" class="col-sm"
                 th:if="${gardenStatus.index < rowStatus.index + 3 and gardenStatus.index >= rowStatus.index}">
                <img th:src="@{${'/user/garden/list/' + garden.id}}" style="width: 75px;" alt="Beautiful Garden"/>
                <p th:text="${garden.name}"></p>
                <p th:text="${garden.address}"></p>
                <p th:text="${'Owner: ' + garden.owner.name}"></p>
                <p th:text="${'Description: ' + garden.description}"></p>
                <a th:href="@{'/user/view/' + ${garden.id}}">More Information</a>
            </div>
        </div>
    </div>
    <footer th:replace="fragments :: footer"></footer>

</body>
</html>