<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head" th:remove="tag">
    </div>
    <script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body class="gardens">

<div th:replace="fragments :: page-header"></div>

<h2 class="garden-title">My Water Garden Tour</h2>
<div class = "row  justify-content-center">
    <a class="btn btn-primary" mt-5 th:href="@{/user/gardens/list}">Return to Water Gardens</a>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div th:each="garden : ${tourGardens}">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="card text-left h-100" style="width:18rem">
                        <a th:href="@{'/user/view/' + ${garden.id}}">
                            <img class="card-img-top rounded" th:src="@{${'/user/garden/list/' + garden.id}}" alt="Beautiful Garden"/>
                        </a>
                        <div class="card-body">
                            <a th:href="@{'/user/view/' + ${garden.id}}">
                                <h5 class="card-title" th:text="${garden.name}" ></h5>
                            </a>
                            <p class="card-text" th:text="${garden.address}"></p>
                            <p class="card-text" th:text="${'Owner: ' + garden.owner.name}"></p>
                            <p class="card-text" style="margin-bottom: 0"><strong>About our garden...</strong></p>
                            <p class="card-text show-read-more" th:text="${garden.description}"></p>
                            <a class="card-text btn btn-primary" th:href="@{'/user/view/' + ${garden.id}}" style="margin-bottom:10px;">More Information</a>
                            <a class="card-text btn btn-danger" th:href="@{'/user/gardens/tour/delete/' + ${garden.id}}">Delete from Tour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<footer th:replace="fragments :: footer"></footer>

</body>
</html>
