<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head" th:remove="tag">
    </div>
    <style>
        .tour-link {
            display: none;
        }
    </style>
    <script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: page-header"></div>

<h2 class="garden-title">My Water Garden Tour</h2>
<div class = "row  justify-content-center">
    <a class="btn btn-primary" mt-5 th:href="@{/user/gardens/list}">Return to Water Gardens</a>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div th:each="garden : ${tourGardens}">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                <div class="card text-left h-100" style="width:18rem">
                    <a th:href="@{'/user/view/' + ${garden.id}}">
                        <img class="card-img-top rounded" th:src="@{${'/user/garden/list/' + garden.id}}" alt="Beautiful Garden"/>
                    </a>
                    <div class="card-body">
                        <a th:href="@{'/user/view/' + ${garden.id}}">
                            <h5 class="card-title" th:text="${garden.name}" ></h5>
                        </a>
                        <p class="card-text" th:text="${garden.address}"></p>
                        <p class="card-text" th:text="${'Owner: ' + garden.owner.name}"></p>
                        <p class="card-text" style="margin-bottom: 0"><strong>About our garden...</strong></p>
                        <p class="card-text show-read-more" th:text="${garden.description}"></p>
                        <div style="text-align:center;">
                            <a class="card-text btn-sm btn-primary" th:href="@{'/user/view/' + ${garden.id}}" style="margin-top:5px;">More Information</a>
                            <br>
                            <div style="margin-top:5px">
                                <a class="card-text btn-sm btn-danger" th:href="@{'/user/gardens/tour/delete/' + ${garden.id}}" style="margin-top:5px">Delete from Tour</a>
                                <form method="GET" th:action="@{/user/map}" style="margin-top:5px">
                                    <button class="card-text btn-sm btn-secondary"
                                            th:value="${garden.id}"
                                            name="gardenId"
                                            style="color:#fff;border:0;line-height:1.2">View on Map</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="map"></div>
    <div id="directions"></div>
</div>

<div th:replace="fragments :: footer-spacer"></div>
<footer th:replace="fragments :: footer"></footer>


<script th:inline="javascript">
let gardens = /*[[${tourGardens}]]*/;
let userPosition;
let waypoints = [];

function initMap() {

    let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 39.0997, lng: -94.5786},
        zoom: 10
    });

    let directionsService = new google.maps.DirectionsService;
    let directionsRenderer = new google.maps.DirectionsRenderer({preserveViewport: true});
    directionsRenderer.setMap(map);
    directionsRenderer.setPanel(document.getElementById("directions"));

    let infoWindow = new google.maps.InfoWindow();

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            userPosition = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };

            infoWindow.setPosition(userPosition);
            infoWindow.setContent('You are here.');
            infoWindow.open(map);
        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        });
    } else {
        handleLocationError(false, infoWindow, map.getCenter());
    }

    for(let i=0; i < gardens.length; i++) {

        let gardenId = gardens[i].id;
        let gardenLatLng = new google.maps.LatLng(
            parseFloat(gardens[i].latitude),
            parseFloat(gardens[i].longitude));
        let gardenName = gardens[i].name;
        let gardenAddress = gardens[i].address;
        let gardenDescription = gardens[i].description;

            waypoints.push({
              location: gardenLatLng,
              stopover: true
            });

        createMarker(gardenId, gardenLatLng, gardenName, gardenAddress, gardenDescription);

    };

    function handleLocationError(browserHasGeolocation, infoWindow, userPosition) {
        infoWindow.setPosition(userPosition);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    };

    function createMarker(gardenId, gardenLatLng, gardenName, gardenAddress, gardenDescription) {

        let marker = new google.maps.Marker({
            position: gardenLatLng,
            map: map,
            icon: 'https://img.icons8.com/color/48/000000/water-wheel.png',
            animation: google.maps.Animation.DROP
        });
        marker.addListener('click', function() {
            infoWindow.setContent('<p>' +
                gardenAddress +
                '</p>');
            infoWindow.open(map, marker);
        });

   google.maps.event.addListenerOnce(map, 'tilesloaded', function() {
    getDirections(userPosition);
        });
    };

    function getDirections(userPosition) {
        directionsService.route({
            origin: userPosition,
            destination: userPosition,
            waypoints: waypoints,
            optimizeWaypoints: true,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }
};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=INSERTapiKEYhere&callback=initMap" async defer></script>

</body>
</html>