<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body class="gardens">
<div th:replace="fragments :: page-header"></div>
<div class="container body-content">
<h1 th:text="${'Garden: ' + garden.id}">Placeholder</h1>
    <img th:src="@{${'/user/garden/list/' + garden.id}}" alt = "Water Garden Photo"/>
    <p th:text="${'Name: ' + garden.name}"></p>
    <p style="margin-bottom: 0"><strong>About our garden...</strong></p>
    <p th:text="${garden.description}"></p>
    <p th:text="${'Address: ' + garden.address}"></p>
    <h3>Features: </h3>
        <ul th:each="feature : ${garden.features}">
            <li th:text="${feature.name}">Feature Text</li>
        </ul>
    <h3>Owner: </h3>
        <p th:text="${garden.owner.name}"></p>
</div>

</body>
</html>
