<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace="fragments :: page-header"></div>

<div class="container">

<form method="post" th:action="@{/admin/owners/add}">
    <div class="form-group">
        <label th:for="name">Owner Name</label>
        <input class="form-control" th:field="${owner.name}" />
        <span th:errors="${owner.name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Owner Email</label>
        <input class="form-control" th:field="${owner.email}" />
        <span th:errors="${owner.email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="name">Owner Phone Number</label>
        <input class="form-control" th:field="${owner.phoneNum}" />
        <span th:errors="${owner.phoneNum}" class="error"></span>
    </div>
    <input type="submit" class="btn btn-success" value="Add Owner"/>
</form>

</div>

<div th:replace="fragments :: footer-spacer"></div>
<footer th:replace="fragments :: footer"></footer>

</body>
</html>