.img-fluid {
    display: block;
    margin: 50px 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    border-radius: 32px;
}

.lead {
    margin-left: 10%;
    margin-right: 10%;
}

.footerLinkPicture {
    max-width: 10%;
    height: auto;
    margin: 10px;
}

.nav-link {
    font-size: 140%;
}

.hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#map {
    height: 80vh;
    width: 80vw;
    margin: 2rem auto auto auto;
}

.garden-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-family: "Garamond";
    font-weight: bold;
    font-size: 225%;
}

.garden-subtitle {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: "Garamond";
    font-weight: bold;
    font-size: 160%;

}

.gardens {
    background-color: #cae8d5;
}

.card {
    border: none;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.card-img-top {
    height: 20vw;
    object-fit: cover;
}

.card-title {
    color: black;
    font-family: "Garamond";
    font-weight: bold;
    font-size: 160%;
    }

.card-body {
background-color: #cae8d5;
}


.card-text {
    font-family: "Garamond";
    font-size: 120%;
}

.show-read-more .more-text{
    display: none;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}





