<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments :: head" th:remove="tag">
    </div>
    <style>
        .admin-link {
            display: none;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">

    <nav th:replace="fragments :: page-header"></nav>

    <div class="container">
        <h1 class="garden-title" th:text="${title}"></h1>

        <div class="row text-center">
            <div class="col">
                <h4 class="admin-group">Gardens</h4>
                <a class="btn btn-secondary btn-lg admin-btn" th:href="@{/admin/gardens/admin-list}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Gardens</a>
                <a class="btn btn-dark btn-lg" th:href="@{/admin/gardens/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add Garden</a>
            </div>
            <div class="col">
                <h4 class="admin-group">Owners</h4>
                <a class="btn btn-secondary btn-lg admin-btn" th:href="@{/admin/owners/}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Owners</a>
                <a class="btn btn-dark btn-lg" th:href="@{/admin/owners/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add Owner</a>
            </div>
            <div class="col">
                <h4 class="admin-group">Features</h4>
                <a class="btn btn-secondary btn-lg admin-btn" th:href="@{/admin/features/}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Features</a>
                <a class="btn btn-dark btn-lg" th:href="@{/admin/features/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add Feature</a>
            </div>
            <div class="col">
                <h4 class="admin-group">Users</h4>
                <a class="btn btn-secondary btn-lg admin-btn" th:href="@{/admin/users/list}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Users</a>
            </div>
        </div>

    </div>

    <div th:replace="fragments :: footer-spacer"></div>
    <footer th:replace="fragments :: footer"></footer>

</body>
</html>