<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title></title>
</head>

<body>

<nav th:replace="fragments :: page-header"></nav>

<div class="container">

<ul>
    <li>
        <a th:href="@{/admin/gardens/admin-list}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Gardens</a>
    </li>
    <li>
        <a th:href="@{/admin/gardens/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add Garden</a>
    </li>
    <li>
        <a th:href="@{/admin/owners/}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Owners</a>
    </li>
    <li>
        <a th:href="@{/admin/owners/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add Owner</a>
    </li>
    <li>
        <a th:href="@{/admin/features/}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Features</a>
    </li>
    <li>
        <a th:href="@{/admin/features/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add Feature</a>
    </li>
    <li>
        <a th:href="@{/admin/users/list}" sec:authorize="hasRole('ROLE_ADMIN')">Manage Users</a>
    </li>
</ul>

<footer th:replace="fragments :: footer"></footer>

</div>

</body>
</html>