<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kansas City Water Garden Tours</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <!-- Logo -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- adds button for Nav Links when Navbar collapses (because screen size is small) -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links on Navbar -->
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/}">Gardens</a>
                <a class="nav-link" th:href="@{/}">Map</a>
                <a class="nav-link" th:href="@{/login}">Log-In</a>
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
</div>
</body>


</html>