<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}">Kansas City Water Garden Tours</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/normalize.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div th:fragment="page-header" class="container-fluid" style="padding-left:0;padding-right:0;">

        <nav class="navbar navbar-expand-lg bg-success navbar-dark">
            <!-- Logo -->
            <img th:src="@{/images/logo.jpg}" alt="Logo" class="navbar-brand">
            <!-- adds button for Nav Links when Navbar collapses (because screen size is small) -->
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#mainNavbar"
                    aria-controls="mainNavbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse w-100" id="mainNavbar">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link home-link" th:href="@{/}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link list-link" th:href="@{/user/gardens/list}" sec:authorize="isAuthenticated()">Water Gardens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link map-link" th:href="@{/user/map}" sec:authorize="isAuthenticated()">Map</a></li>
                    <li class="nav-item">
                        <a class="nav-link tour-link" th:href="@{/user/gardens/tour}" sec:authorize="isAuthenticated()">My Tour</a></li>
                    <li class="nav-item">
                        <a class="nav-link admin-link" th:href="@{/admin}" sec:authorize="hasRole('ROLE_ADMIN')">Admin</a></li>
                    <li class="nav-item">
                        <a class="nav-link login-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Log In</a></li>
                    <li class="nav-item">
                        <a class="nav-link register-link" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a></li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" name="logoutForm"></form></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" sec:authorize="isAuthenticated()"  onclick="document.logoutForm.submit()">Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div th:fragment="footer-spacer" class="wrapper flex-grow-1"><!--Spacer for footer--></div>
    <footer th:fragment="footer" align="center">
        <a href="https://www.kcwatergarden.com/">
            <img class="footerLinkPicture" alt="WGSGKC" th:src="@{/images/logo.jpg}">
        </a>

        <a href="https://www.launchcode.org/">
            <img class="footerLinkPicture" alt="LaunchCode" src="https://www.launchcode.org/assets/dabomb-2080d6e23ef41463553f203daaa15991fd4c812676d0b098243b4941fcf4b57f.svg">
        </a>

        <a href="https://www.facebook.com/WaterGardenSocietyOfGreaterKansasCity/">
            <img class="footerLinkPicture" alt="facebook logo" th:src="@{/images/fb-logo.png}">
        </a>
    </footer>

</body>

</html>
