<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Kansas City Water Garden Tours</title>
</head>


<body>

<nav th:replace="fragments :: page-header"></nav>

<h1 class="display-1" align="center">WELCOME!</h1>
<hr>

<div>
    <img class="img-fluid" th:src = "@{/images/GardenPhoto_HomeBody.jpg}"/>
</div>
<hr>

<p align="center" class="lead">The Water Garden Society of Greater Kansas City (WGSGKC) is made up of members from all parts of the KC metro area who are interested in water gardening. Monthly meetings, September - May are open to members and the public. Tours, community service projects, garden shows and plant exchanges are some of the activities scheduled throughout the year. We welcome all interested in water gardening to join us.</p>

<footer th:replace="fragments :: footer"></footer>
          
</body>
</html>
