<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Kansas City Water Garden Tours</title>
</head>


<body>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid">
        <!-- WGSGKC logo -->
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.jpg}" alt="Logo" style="width:40px;">
        </a>

        <!-- adds button for Nav Links when Navbar collapses (because screen size is small) -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links on Navbar -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a th:href="@{/register}" class="nav-link"><span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/login}" class="nav-link"><span class="glyphicon glyphicon-log-in"></span> Log-In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 class="display-1" align="center">WELCOME!</h1>
<hr/>

<div>
    <img class="img-fluid" th:src = "@{/images/GardenPhoto_HomeBody.jpg}"/>
</div>
<hr/>

<p align="center" class="lead">The Water Garden Society of Greater Kansas City (WGSGKC) is made up of members from all parts of the KC metro area who are interested in water gardening. Monthly meetings, September - May are open to members and the public. Tours, community service projects, garden shows and plant exchanges are some of the activities scheduled throughout the year. We welcome all interested in water gardening to join us.</p>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>
