<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments :: head" th:remove="tag">
        </div>
        <style>
        .login-link {
            display: none;
        }
        </style>
    </head>

<body class="d-flex flex-column min-vh-100">

<div th:replace = "fragments :: page-header"></div>

    <div class="container card login-div">
    <form th:action="@{/login}" method="post">
        <div class="form-group">
        <h2>Log In</h2>
        <div th:if="${param.error}">
            <p>Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
        </div>
        <div class = "login-field ">
            <label for="username" class="font-bold">Username</label>
            <input class="form-control"  type="text" name="username" id="username"/>
        </div>
        <div class = "login-field">
            <label for="password" class="font-bold">Password  </label>
            <input class="form-control"  type="password" name="password" id="password"/>
        </div>
        <button class="btn btn-success" type="submit">Log In</button>
        <a class="btn btn-success" th:href="@{/register}">Register</a>
        </div>
    </form>
</div>

<div th:replace="fragments :: footer-spacer"></div>
<footer th:replace="fragments :: footer" th:remove="tag"></footer>

</body>
</html>