<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <div th:replace="fragments :: head" th:remove="tag">
        </div>
        <style>
        .login-link {
            display: none;
        }
    </style>
    </head>
<body>
    <div th:replace = "fragments :: page-header"></div>
    <form th:action="@{/login}" method="post">
        <h2>Log In</h2>
        <div th:if="${param.error}">
            <p>Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
        </div>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password"/>
        </div>
        <input type="submit" value="Log in" />
    </form>
</body>
</html>