<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: head" th:remove="tag">
    </div>
    <style>
        .map-link {
            display: none;
        }
    </style>
</head>

<body>

<nav th:replace="fragments :: page-header"></nav>

<div id="map"></div>

<!-- Displaying the map from Maps JavaScript API -->
<script th:inline="javascript">

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 39.0997, lng: -94.5786},
            zoom: 10
        });

        var gardens = /*[[${gardens}]]*/;

        for(var i=0; i < gardens.length; i++) {
            if(gardens[i].latitude !== null && gardens[i].longitude !== "") {
                var marker = new google.maps.Marker({
                  position: {lat: parseFloat(gardens[i].latitude), lng: parseFloat(gardens[i].longitude)},
                  map: map,
                  title: gardens[i].name
                });
            }
        }
    };
</script>
<!-- async defer allows the rest of the page to load before the map loads -->
<script src="https://maps.googleapis.com/maps/api/js?key=INSERTapiKEYhere&callback=initMap" async defer></script>

</body>
</html>
