<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments :: head" th:remove="tag">
    </div>
    <style>
        .map-link {
            display: none;
        }
    </style>
</head>

<body>

<nav th:replace="fragments :: page-header"></nav>

<div class="container">

    <div id="map"></div>

    <div id="directions"></div>

    <footer th:replace="fragments :: footer"></footer>

</div>

<!-- Displaying the map from Maps JavaScript API -->
<script th:inline="javascript">
let gardens = /*[[${gardens}]]*/;
let userPosition;

function initMap() {

    let map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 39.0997, lng: -94.5786},
        zoom: 10
    });

    let directionsService = new google.maps.DirectionsService;
    let directionsRenderer = new google.maps.DirectionsRenderer({preserveViewport: true});
    directionsRenderer.setMap(map);
    directionsRenderer.setPanel(document.getElementById("directions"));

    let infoWindow = new google.maps.InfoWindow();

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            userPosition = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };

            infoWindow.setPosition(userPosition);
            infoWindow.setContent('You are here.');
            infoWindow.open(map);
        }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
        });
    } else {
        handleLocationError(false, infoWindow, map.getCenter());
    }

    for(let i=0; i < gardens.length; i++) {

        let gardenId = gardens[i].id;
        let gardenLatLng = new google.maps.LatLng(
            parseFloat(gardens[i].latitude),
            parseFloat(gardens[i].longitude));
        let gardenName = gardens[i].name;
        let gardenAddress = gardens[i].address;
        let gardenDescription = gardens[i].description;

        createMarker(gardenId, gardenLatLng, gardenName, gardenAddress, gardenDescription);

    };

    function handleLocationError(browserHasGeolocation, infoWindow, userPosition) {
        infoWindow.setPosition(userPosition);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    };

    function createMarker(gardenId, gardenLatLng, gardenName, gardenAddress, gardenDescription) {

        let marker = new google.maps.Marker({
            position: gardenLatLng,
            map: map,
            icon: 'https://img.icons8.com/color/48/000000/water-wheel.png',
            animation: google.maps.Animation.DROP
        });
        marker.addListener('click', function() {
            let directionsEndpoint = gardenLatLng;
            infoWindow.setContent('<div id="info-window-content">' +
                '<h1>' +
                gardenName +
                '</h1>' +
                '<h2>' +
                gardenAddress +
                '</h2>' +
                '<p>' +
                gardenDescription +
                '</p>' +
                '<p>' +
                '<a class="info" target="_blank" href="view/' + gardenId + '">More Garden Info</a>' +
                ' | ' +
                'View Directions on <a class="directions" target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=' + userPosition.lat + ',' + userPosition.lng + '&destination=' + gardenLatLng + '">Google Maps</a>' +
                '</p>' +
                '</div>');

            getDirections(userPosition, directionsEndpoint);

            infoWindow.open(map, marker);

        });

    };

    function getDirections(userPosition, directionsEndpoint) {
        directionsService.route({
            origin: userPosition,
            destination: directionsEndpoint,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsRenderer.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }

};
</script>

<!-- async defer allows the rest of the page to load before the map loads -->
<script src="https://maps.googleapis.com/maps/api/js?key=INSERTapiKEYhere&callback=initMap" async defer></script>

</body>
</html>