<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <!-- Logo -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- adds button for Nav Links when Navbar collapses (because screen size is small) -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links on Navbar -->
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-link" th:href="@{/}">Home</a>
            <a class="nav-link" th:href="@{/login}">Log-In</a>
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>
<h1>Registration</h1>

<form method="post">
    <div class="form-group" th:action="@{/register}">
        <label>First Name
            <input class="form-control" th:field="${user.fname}" />
        </label>
        <p class="error" th:errors="${user.fname}"></p>
    </div>
    <div class="form-group">
        <label>Last Name
            <input class="form-control" th:field="${user.lname}" />
        </label>
        <p class="error" th:errors="${user.lname}"></p>
    </div>
    <div class="form-group">
        <label>Email
            <input class="form-control" th:field="${user.username}" />
        </label>
        <p class="error" th:errors="${user.username}"></p>
    </div>
        <div class="form-group">
            <label>Password
                <input class="form-control" th:field="${user.password}" type="password" />
            </label>
            <p class="error" th:errors="${user.password}"></p>
        </div>
        <div class="form-group">
            <label>Verify Password
                <input class="form-control" th:field="${user.verifyPassword}" type="password" />
            </label>
        </div>

        <input type="submit" class="btn btn-success" value="Register" />
    </form>
</body>
</html>