<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head" th:remove="tag">
    </div>
    <style>
        .register-link {
            display: none;
        }
    </style>
</head>

<body class="d-flex flex-column min-vh-100">

<div th:replace = "fragments :: page-header"></div>

<div class="container card register-div">

<h1>Registration</h1>

<form method="post" action="#" th:action="@{/register}">
    <div class="form-group" th:action="@{/register}">
        <label th:for="fname">First Name</label>
        <input class="form-control" type="text" th:field="${registerDTO.fname}" />
        <p class="error" th:errors="${registerDTO.fname}"></p>
    </div>
    <div class="form-group">
        <label th:for="lname">Last Name</label>
        <input class="form-control" type="text" th:field="${registerDTO.lname}" />
        <p class="error" th:errors="${registerDTO.lname}"></p>
    </div>
    <div class="form-group">
        <label th:for="username">Email</label>
        <input class="form-control" type="text" th:field="${registerDTO.username}" />
        <p class="error" th:errors="${registerDTO.username}"></p>
    </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input class="form-control" th:field="${registerDTO.password}" type="password" />
            <p class="error" th:errors="${registerDTO.password}"></p>
        </div>
        <div class="form-group">
            <label th:for="verifyPassword">Verify Password</label>
            <input class="form-control" th:field="${registerDTO.verifyPassword}" type="password" />
            <p class="error" th:errors="${registerDTO.password}"></p>
        </div>

        <input type="submit" class="btn btn-success" value="Register" />
    <br>
    <div class = "form-group">
        <a class="btn btn-success" th:href="@{/login}"> Already Registered? <br> Login</a>
    </div>
    </form>

</div>

<div th:replace="fragments :: footer-spacer"></div>
<footer th:replace="fragments :: footer"></footer>

</body>
</html>